{% extends 'base.html' %}
{% load staticfiles %}

{% block title_block %}
    Ainmation of
    {% block algorithm_name %}
    {% endblock %}
{% endblock %}

{% block css_block %}
<link rel="stylesheet" type="text/css" href="{% static 'css/common_function.css' %}">
{% endblock %}

{% block navigation %}
<nav class="navbar navbar-default" data-spy="affix">

    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#top"><strong>Sorting Algorithm Animation</strong></a>
          </div>

          <!-- https://www.w3schools.com/bootstrap/bootstrap_glyphicons.asp -->
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'index:home' %}">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                  <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
                </svg>
                <strong>Home</strong></a></li>
            <li class="dropdown active"><a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-code" viewBox="0 0 16 16">
                  <path d="M5.854 4.854a.5.5 0 1 0-.708-.708l-3.5 3.5a.5.5 0 0 0 0 .708l3.5 3.5a.5.5 0 0 0 .708-.708L2.707 8l3.147-3.146zm4.292 0a.5.5 0 0 1 .708-.708l3.5 3.5a.5.5 0 0 1 0 .708l-3.5 3.5a.5.5 0 0 1-.708-.708L13.293 8l-3.147-3.146z"/>
                </svg>
                <strong>Sorting Algorithm</strong>
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="{% url 'sorting_algorithm:bubble_sorting' %}">Bubble</a></li>
                  <li><a href="{% url 'sorting_algorithm:insertion_sorting' %}">Insertion</a></li>
                  <li><a href="{% url 'sorting_algorithm:selection_sorting' %}">Selection</a></li>
                </ul>
              </li>
            <li><a href="{% url 'sorting_algorithm_performance:algorithm_performance' %}">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-speedometer2" viewBox="0 0 16 16">
                  <path d="M8 4a.5.5 0 0 1 .5.5V6a.5.5 0 0 1-1 0V4.5A.5.5 0 0 1 8 4zM3.732 5.732a.5.5 0 0 1 .707 0l.915.914a.5.5 0 1 1-.708.708l-.914-.915a.5.5 0 0 1 0-.707zM2 10a.5.5 0 0 1 .5-.5h1.586a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 10zm9.5 0a.5.5 0 0 1 .5-.5h1.5a.5.5 0 0 1 0 1H12a.5.5 0 0 1-.5-.5zm.754-4.246a.389.389 0 0 0-.527-.02L7.547 9.31a.91.91 0 1 0 1.302 1.258l3.434-4.297a.389.389 0 0 0-.029-.518z"/>
                  <path fill-rule="evenodd" d="M0 10a8 8 0 1 1 15.547 2.661c-.442 1.253-1.845 1.602-2.932 1.25C11.309 13.488 9.475 13 8 13c-1.474 0-3.31.488-4.615.911-1.087.352-2.49.003-2.932-1.25A7.988 7.988 0 0 1 0 10zm8-7a7 7 0 0 0-6.603 9.329c.203.575.923.876 1.68.63C4.397 12.533 6.358 12 8 12s3.604.532 4.923.96c.757.245 1.477-.056 1.68-.631A7 7 0 0 0 8 3z"/>
                </svg>
                <strong>Algorithm Perfromance</strong></a></li>
          </ul>
    </div>
</nav>
{% endblock %}

{% block workplace %}
<div class="row">
    <div class="jumbotron">
        <!-- jumbotron page-header-->
        {% block page_header %}
        {% endblock %}
   </div>
</div>

<div class="row">
    <!-- speed -->
    <div class="col-sm-12 col-md-4">
        <div class="panel panel-info">
            <div class="panel-heading">

                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-1-circle" viewBox="0 0 16 16">
                    <path d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8Zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0ZM9.283 4.002V12H7.971V5.338h-.065L6.072 6.656V5.385l1.899-1.383h1.312Z"/>
                </svg>
                <strong>Speed Control</strong>

            </div>
            <div class="panel-body">
                <!-- demo control -->
                <br>
                <strong>Speed of animation:  </strong>
                <br>
                <br>
                <input type="range" id="speed" min="1" max="15" value="5" oninput="displaySpeed()" onchange="displaySpeed()">
                <br>
                <strong><span id="display_speed">x 1</span></strong>
                <br>
                <br>
                <p class="text-danger">Tip: Please setting speed before playing animation.</p>
            </div>
          </div>
    </div>

    <!-- initial conditions -->
    <div class="col-sm-12 col-md-8">
        <div class="panel panel-warning">
            <div class="panel-heading">
                
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-2-circle" viewBox="0 0 16 16">
                    <path d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8Zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0ZM6.646 6.24v.07H5.375v-.064c0-1.213.879-2.402 2.637-2.402 1.582 0 2.613.949 2.613 2.215 0 1.002-.6 1.667-1.287 2.43l-.096.107-1.974 2.22v.077h3.498V12H5.422v-.832l2.97-3.293c.434-.475.903-1.008.903-1.705 0-.744-.557-1.236-1.313-1.236-.843 0-1.336.615-1.336 1.306Z"/>
                  </svg>
                  <strong>Setting Initial Condition and Play</strong></div>
            <div class="panel-body">
                <div class="row">
                    <form class="form-inline" action="/action_page.php">
                        <div class="form-group has-warning">
                            <label>There are </label>
                            <input type="number" class="form-control" placeholder="Enter positive integer" id="n_bars" min="3" value="10"
                            data-toggle="tooltip" data-placement="top" title="Please enter positive integer!"
                                   onkeydown="if(event.keyCode==13){alert('Please click the button to submit!');return false;}">
                            <label> Bars in the Animation.</label>
                        </div>
                    </form>
                </div>

                <div class="row btn-group">
                    <button type="button" class="btn btn-primary" onclick="RandomDemo()">Random</button>
                    <button type="button" class="btn btn-success" onclick="NearlyDemo()">Nearly Sorted</button>
                    <button type="button" class="btn btn-warning" onclick="ReversedDemo()">Reversed Sorted</button>
                    <button type="button" class="btn btn-danger" onclick="UniqueDemo()">Few Unique</button>
                </div>

                <hr>
                <div class="row">
                    <!-- user input -->
                    <form class="form-inline" action="/action_page.php">
                        <div class="form-group has-warning">
                            <label>User Input:  </label>
                            <input type="text" class="form-control" placeholder="Enter number array" id="user_input" value="1,55,75,83,-33,94,2,49,-40,28,42,20,37,68,99"
                            data-toggle="tooltip" data-placement="top" title="Please enter an array of numbers separated by commas(,), and the number in [-100, 100]!"
                                   onkeydown="if(event.keyCode==13){alert('Please click the button to submit!');return false;}">
                            <button type="button" class="btn btn-info" onclick="UserInputDemo()">User Play</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <!-- Pseudo-code -->
    <div class="col-sm-12 col-md-4">
        <div class="panel panel-success">
            <div class="panel-heading"><strong>Pseudo-code of Sorting Algorithm</strong></div>
            <div class="panel-body" id="algorithm_code">
                {% block algorithm_code %}
                {% endblock %}
            </div>
          </div>
    </div>

    <!-- animation -->
    <div class="col-sm-12 col-md-8">
        <div class="panel panel-primary">
            <div class="panel-heading"><strong>Animation of Sorting Algorithm</strong></div>
            <div class="panel-body" id="algorithm_demo_frame">
                <div class="row">
                    
                    {% block algorithm_legend %}
                    {% endblock %}
                </div>
                <div class="row" id="algorithm_demo">

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js_block %}
<script type="text/javascript" src="{% static 'js/common_animation.js' %}"></script>

    {% block js_algorithm %}
    {% endblock %}
{% endblock %}
