<!-- base.html -->
{% extends 'base.html' %}
{% load staticfiles %}

{% block title_block %}
    Home
{% endblock %}

{% block css_block %}
{% endblock %}

{% block navigation %}
{% endblock %}

{% block workplace %}
{% endblock %}

{% block js_block %}
{% endblock %}


<!-- <li><a href="{% url 'index:home' %}">Home</a></li>
<li><a href="{% url 'sorting_algorithm:bubble_sorting' %}">Bubble</a></li>
<li><a href="{% url 'sorting_algorithm:insertion_sorting' %}">Insertion</a></li>
<li><a href="{% url 'sorting_algorithm:selection_sorting' %}">Selection</a></li>
<li><a href="{% url 'sorting_algorithm_performance:algorithm_performance' %}">Performance</a></li> -->


<!-- base_animation.html -->
{% block algorithm_name %}
{% endblock %}

{% block page_header %}
{% endblock %}

{% block algorithm_code %}
{% endblock %}

{% block algorithm_legend %}
{% endblock %}

{% block js_algorithm %}
{% endblock %}